{% extends 'layout.html.twig' %}

{% block title %}Hello CatalogoCursosController!{% endblock %}

{% block content %}
<p>Hola. Aquí tendría que ir el catálogo de cursos, pero si no puedo acceder a los cursos no puedo verlos.</p>
{% endblock %}
