{% extends 'layout.html.twig' %}

{% block title %}ACME Learning - Página de Inicio{% endblock %}

{% block content %}
    <section class="section main-banner" id="top" data-section="section1">
        <video autoplay muted loop id="bg-video">
            <source src="{{ asset('/images/course-video.mp4') }}" type="video/mp4" />
        </video>
        <div class="video-overlay header-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="caption">
                            <h2>ACME Learning</h2>
                            <h6>Tomorrow's learning solutions today</h6>
                            <p>Aprovecha una oportunidad única de aprender e impartir de forma libre.</p>
                            <p>¡Comienza una nueva etapa educativa en tu formación y edúcate en todo tipo de temas!</p>
                            <p>¡Imparte lo que realmente quieres que la gente sepa!</p>
                            <div class="main-button-red">
                                <div>
                                    <a href="{{ path('app_register')}}">Allé voy!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# Información texto #}
    {# Información texto al otro lado #}
    {# Galería #}
    {# Paneles chupifantásticos #}
    {# Testimonios #}
{% endblock %}